<launch>
    <rosparam command="load" file="$(find witmotion_ros)/config/config.yml" />
    <node name="witmotion_imu" pkg="witmotion_ros"  type="witmotion_ros_node" output="screen"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu" args="0.0 0.0 0.07 0.0 0.0 0.0 base_link imu 50"/>
</launch>
